<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SD_WeatherBanner::weather_banner_menu"
             title="Weather Banner"
             translate="title"
             sortOrder="50"
             module="SD_WeatherBanner"
             resource="SD_WeatherBanner::weather_banner_menu"/>
        <add id="SD_WeatherBanner::weather_banner_data"
             title="Weather Banner Data"
             translate="title"
             module="SD_WeatherBanner"
             parent="SD_WeatherBanner::weather_banner_menu"
             sortOrder="10"
             action="sd_weather/weatherdata/index"
             resource="SD_WeatherBanner::weather_banner_data"/>
    </menu>
</config>
